#slide {
  width:100vw;
  /* height:600px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0px 2px 0px;
}

.content {
  width:1400px;
  height:90%;
  overflow: hidden;
  position: relative;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.content .images {
  background-position: center;
  object-fit: cover;

}

.images > img {
  width:100%;
}
.btm-sliders {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btm-sliders > span {
  height:10px;
  width:10px;
  background-color: white;
  margin: 0px 9px;
  cursor: pointer;
  transform: rotate(45deg);
}
.content .slide {
  position: absolute;
  /* top: 260px; */
  width:50px;
  height: 50px;
  cursor: pointer;
  /* border: 1px solid red; */
  display: flex;
  transform: translateY(-50%);

}

.content .slide:hover {
  background-color: rgba(255,255,255,0.4);
  transition: 1s;
}

.content .left {
  margin-left: 30px;
}

.content .right {
  right:0;
  margin-right: 30px;
}


@media screen and (max-width:763px) {
  #slide {
    width:100vw;
    /* height:30vh; */
    display: flex;
    align-items: center;
  }


  .content {
    width:100%;

  }
  .images > img {
    width:100vw;
    /* height:30vh; */
  }
  .content .slide {
    cursor: pointer;
    transform: translateY(0%);

  }
  
}
