#wallpaper {
  width: 100vw;
  /* height:100vh; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

.WallPaper_01 {
  width: 100vw;
  /* height:60vh; */
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 0 1% 0;
  /**상 우 하 좌**/
}

#wallpaper_text {
  width: 700px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 10px;
  /* border: 1px solid white; */
  margin-top: 20px;
  background-image: url(../image/white_button_large.png);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.GOTwall {
  width: 300px;
  height: 500px;
  /* border: 1px solid white; */
  overflow: hidden;
  transition: 0.5s;
  /* border: 1px solid gray; */
  box-shadow: 4px 2.5px 3px rgba(138, 138, 138, 0.637);
  /**이미지 박스**/
}

.GOTwall > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.GOTwall:hover > img {
  transform: scale(1.1);
  transition: 0.5s;
}

.popup_image {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.popup_image > span {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  color: #cb3b3e;
}

.popup_image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #cb3b3e;
  width: 570px;
  height: 900px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .GOTwall {
    width: 250px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1020px) {
  .GOTwall {
    width: 340px;
    height: 600px;
    transition: 0.5s;
  }
  .WallPaper_01 {
    width: 100vw;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .WallPaper_01 div:nth-child(3) {
    margin-top: 15px;
  }
  .WallPaper_01 div:nth-child(4) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 850px) {
  .GOTwall {
    width: 90%;
    height: 700px;
    margin: 10px;
  }

  .WallPaper_01 {
    width: 100vw;
    /* height:600vh; */
    display: flex;
    flex-direction: column;
    padding: 0%;
    flex-wrap: nowrap;
  }
  #wallpaper_text {
    width: 400px;
    height: 60px;
    background-size: 300px;
    font-size: 16px;
    transition: 0.5s;
  }
}
